@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #ffffff; /* Replace #RRGGBB with your color */
  --background-start-hex: #202020;
  --background-end-hex: #099067;
}

body {
  color: var(--foreground-hex);
  /* background: linear-gradient(to bottom, transparent, var(--background-end-hex))
    var(--background-start-hex); */
  background: var(--background-start-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
